/* Card Container Background Style */
#content-area
{
    background: linear-gradient( to right,rgb(63, 63, 255), rgb(121, 121, 255));
    padding: 15px 10px 10px 10px;
    margin-top: 10px;
}

/* Card Area Style */
#card-area
{
    border-radius: 15px !important;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    transition: transform .5s ease;
}

#card-area:hover {
    transform: scale(1.1);
  }

/* Header Text One Style */
#headertext-one
{
    font-weight: 700;
    opacity: 0.6;
}

/* Header Text Two Styl */
#headertext-two
{
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* List Items Style */
#list-items
{
    list-style-type: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 33px;
}

.blur 
{
    opacity: 0.6;
}

/* Click Here Button Style */
#button
{
    width: 80%;
    border-radius: 25px;
    font-size: 1.2rem;
    margin-top: 5px;
    cursor: pointer;
}

#button:hover
{
    color: white;
    background-color: black;
    border-color: black;
}

/* Responsiveness */
@media screen and (max-width: 576px){
    #card-area
     {
        width: 80%;
        margin: auto; 
     }
}

@media screen and (max-width: 768px){
    #card-area
     {
        width: 100%;
     }
}

@media screen and (max-width: 992px){
    #card-area
     {
        width: 100%;
     }
}

@media screen and (max-width: 1024px){
    #card-area
     {
        width: 100%;
     }
}

